@import "/components/header.css";
@import "/components/button.css";
@import "/components/card.css";
@import "/components/footer.css";

* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #dea833;
}

.tag {
  margin: 5px;
  padding: 5px;
  background-color: #de9133;
}

.tag-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 20px 0 10px 20px;
}

.bookmark {
  position: absolute;
  top: -20px;
  right: 5%;
  width: 40px;
}

.bookmark_active {
  background-color: black;
}
