@import "/components/header.css";
@import "/components/Button/button.css";
@import "/components/card.css";
@import "/components/nav.css";
@import "/components/checkbox.css";
@import "/components/Form/form.css";
@import "/components/profile.css";
@import "/components/Spa/spa.css";

* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

ul,
ol {
  list-style: none;
}

h1,
h2 {
  text-align: center;
}
