.headline {
  width: 70%;
  font-size: 20px;
}

.card-list {
  margin: 0 auto;
  padding: 10rem 2rem 4rem 2rem;
  max-width: 45rem;
}

.quizcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 4rem;
  border: 5px solid #4d6289;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  position: relative;
}

.bookmark {
  position: absolute;
  top: 0px;
  right: 5%;
  transform: translateY(-30px);
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #4d6289;
  color: white;
}

.bookmark-icon {
  fill: white;
}

.bookmark__active {
  fill: blueviolet;
}

.tag {
  margin: 5px;
  padding: 5px;
  background-color: green;
  color: white;
}

.tag-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 20px 0 10px 20px;
}
