.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 40px 20px;
  padding: 20px 0 0 0;
  border: 5px solid #4d6289;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  position: relative;
}

.profile-name {
  display: flex;
  align-items: center;
  width: 80%;
}

.profile-img {
  display: flex;
  width: 30%;
  font-size: 40px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.counter {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 10px;
}

.counter-elements {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background-color: silver;
  width: 20%;
  border-radius: 20%;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 80%;
}
