/* toggle styling starts here */
/* hide the "default" checkbox/appearance */
.toggle-checkbox {
  display: none;
}

.slider {
  position: relative;
}

/* ellipsis */
.slider::before {
  background: lightblue;
  border-radius: 34px;
  bottom: 0;
  content: "";
  height: 24px;
  margin: auto;
  position: absolute;
  top: 0;
  width: 40px;
}

/* circle */
.slider::after {
  background: navy;
  border-radius: 50%;
  bottom: 0;
  content: "";
  height: 16px;
  left: 4px;
  margin: auto;
  position: absolute;
  top: 0;
  transition: 0.4s;
  width: 16px;
}

.toggle-switch {
  margin-left: 50px;
}

.toggle-switch.opt1 {
  color: navy;
}

.toggle-checkbox:checked + .slider::after {
  transform: translateX(16px);
}
