.header {
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(to right, #4d6289, green);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: white;
}

h1 {
  text-align: center;
}
