.navigation {
  position: sticky;
  margin-top: auto;
  height: 20vw;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  background-color: white;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.5);
}

.navigation__list {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 40px;
}

.navigation__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navigation__list-item--active {
  background-color: #4d6289;
}

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0;
  height: 100%;
  width: 100%;
}
